* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1f0ef;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    
  }

header{
  background-color: #ddd0d1;
}

pre{
  margin-left: -320px;
  margin-top: 20px;
  padding-left: 30px;
}

  footer{
    background-color: #ddd0d1;
  }



h2{
  background-color: #ddd0d1;
}

a{
  text-decoration: none;
}



.main-photo{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.contacts-list{
  list-style: none;
}




  .footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
   

    

  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
   
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    
  
  }
  
  .side-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }


  .left-side{
    width: 40%;
    
  }

  .right-side{
    width: 60%;
    

  }

  .section {
    width: 70%;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
  }

  .nav-link {
    transition: 0.3s;
  }


  .nav-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #4d2323;
  }






  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }